[submodule "cms"]
	path = cms
	url = https://github.com/StripeStore/silverstripe-cms.git
[submodule "framework"]
	path = framework
	url = https://github.com/StripeStore/silverstripe-framework.git
[submodule "payments"]
	path = payments
	url = https://github.com/StripeStore/silverstripe-payment.git
[submodule "swipestripe"]
	path = swipestripe
	url = https://github.com/StripeStore/silverstripe-swipestripe.git
[submodule "swipestripe-category"]
	path = swipestripe-category
	url = https://github.com/StripeStore/silverstripe-swipestripe-category.git
[submodule "themes/stripestore-demo-theme"]
	path = themes/stripestore-demo-theme
	url = https://github.com/StripeStore/stripestore-demo-theme.git
[submodule "silverstripe-gallery"]
	path = silverstripe-gallery
	url = https://github.com/StripeStore/silverstripe-gallery.git
[submodule "silverstripe-swipestripe-gallery"]
	path = silverstripe-swipestripe-gallery
	url = https://github.com/StripeStore/silverstripe-swipestripe-gallery.git
